#timer{
    text-align: center;
    color: #333;
    font-family: fantasy;
    font-size: 50px;
    cursor: default;
}

#timer div{
    display: inline;
}

.timer {
    display: block;
    position: fixed;
    width: 20%;
    margin-left: 80%;
    margin-top: 20px;
    height: 10%;
}